#set($h = "#")
${h}* @vtlvariable name="i18n" type="com.atlassian.jira.util.I18nHelper" *${h}

${h}set($title = "$i18n.getText('module-item.label')")

<html lang="en">
<head>
    <title>$title</title>
    <meta name="decorator" content="atl.general"/>
</head>

<body class="app-body">

<section id="app-${frontendAppNameKebabCase}" class="app-main" role="main">
    <div class="util-align-loading-spinner">
        <aui-spinner size="medium"></aui-spinner>
    </div>
</section>

<script type="text/javascript">
    initFrontendApp(function () {
        var appContainer = document.getElementById('app-${frontendAppNameKebabCase}');
        frontend.start${frontendAppNameUpperCamelCase}(appContainer);
    });
</script>

</body>
</html>
