# https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Maven

on:
  push:
  schedule:
    - cron: "0 1 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Download Maven Cache
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-${{ steps.date.outputs.date }}-atlassian-plugin-maven
          restore-keys: |
            ${{ runner.os }}-${{ steps.date.outputs.date }}-atlassian-plugin-maven

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install Firefox
        run: sudo apt update && apt install -y firefox

      - name: Build with Maven
        run: mvn -B install
        env:
          MOZ_HEADLESS: 1 # run firefox in headless mode for executing selenium tests
